<a href="/">Home</a> |&nbsp;
<a href="#">Profile</a> |&nbsp;
<a href="/posts/new">New Post</a>
<hr>
<% @posts.each do |post| %>
 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
   .container {
     width: 600px;
     margin: 10px auto;
     border: 2px solid black;
     box-sizing: border-box;
     min-height: 300px;
   }
   img {
     margin: 0px;
     padding: 0px;
     width: 300px;
   }

   caption{
   	margin: 20px;
   }

   .uraver{
    position: relative;
    width: 300px;
    height: 201px;
   }

   p{
    margin: 0;
    margin-bottom: 10px;
   }

   span{
    margin: 0;
   }
</style>
</head>
<body>
  <div class="container">
  <div class="uraver">
<p><%= post.user.username %></p>
<%= image_tag(post.image.url, alt: 'Image') if post.image? %>
<span><%= post.caption %></span><br/>
<a href="/">Like</a> |&nbsp;
<%= link_to "Comment", post_path(post) %> |&nbsp;
<a href="/posts/new">Share</a>
<hr>
</div>
</div>
</body>
</html>

<%end%>